*.s
*.ll
*.o

good/basic/*
!good/basic/*.lat
!good/basic/*.input
!good/basic/*.output
!good/basic/*.exit_code

good/extensions/*
!good/extensions/*.lat
!good/extensions/*.input
!good/extensions/*.output
!good/extensions/*.exit_code

bad/*
!bad/*.lat
!bad/*.input
!bad/*.output
!bad/*.exit_code

warnings/*
!warnings/*.lat
!warnings/*.input
!warnings/*.output
!warnings/*.exit_code