*.s
*.ll
*.o

good/basic/*
!good/basic/*.lat
!good/basic/*.input
!good/basic/*.output
!good/basic/*.exit_code

good/extensions/*
!good/extensions/*.lat
!good/extensions/*.input
!good/extensions/*.output
!good/extensions/*.exit_code

bad/basic/*
!bad/basic/*.lat
!bad/basic/*.input
!bad/basic/*.output
!bad/basic/*.exit_code
!bad/basic/*.example_compiler_output

bad/extensions/*
!bad/extensions/*.lat
!bad/extensions/*.input
!bad/extensions/*.output
!bad/extensions/*.exit_code
!bad/extensions/*.example_compiler_output

warnings/basic/*
!warnings/basic/*.lat
!warnings/basic/*.input
!warnings/basic/*.output
!warnings/basic/*.exit_code
!warnings/basic/*.example_compiler_output

warnings/extensions/*
!warnings/extensions/*.lat
!warnings/extensions/*.input
!warnings/extensions/*.output
!warnings/extensions/*.exit_code
!warnings/extensions/*.example_compiler_output